<head>
  <meta charset="UTF-8" />
  <title>IfcLCA</title>

  <!-- Bootstrap CSS with integrity and crossorigin -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />

  <!-- Local CSS -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- jQuery with integrity and crossorigin -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7O4yw+g4Hf5rp/E6sE5+24kBQ5UJG0lRezg"
    crossorigin="anonymous"
  ></script>

  <!-- Popper.js with integrity and crossorigin -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz4fnFO9gybBogGzW79hQq1rxfblEyZLlqxDl5GKt7j93fAb1QyV9KtW0J"
    crossorigin="anonymous"
  ></script>

  <!-- Bootstrap JS with integrity and crossorigin -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pzjw8f+ua7Kw1TIq9b6+9bhbVRmK7kmdXp6H2dghFLgVsBL9Lg/IZyo+g6qQOGl5"
    crossorigin="anonymous"
  ></script>
</head>
