<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>

    <main role="main" class="container mt-4">
      <h2>Contributing Guidelines</h2>
      <p>
        Thank you for your interest in contributing to IfcLCA! We appreciate all
        the help from the community. Here's how you can contribute:
      </p>

      <ol>
        <li>
          <strong>Read our Code of Conduct:</strong> We expect all contributors
          to adhere to the standards of our community.
        </li>
        <li>
          <strong>Fork the Repository:</strong> Make sure to fork the repository
          and work on your own copy.
        </li>
        <li>
          <strong>Make Your Changes:</strong> Implement your features or fixes
          in your forked repository.
        </li>
        <li>
          <strong>Write Clear Commit Messages:</strong> Each commit should
          contain a clear message about what was changed.
        </li>
        <li>
          <strong>Submit a Pull Request:</strong> Once you're ready, submit a
          pull request to the main repository and explain why this Pull benefits
          the project.
        </li>
      </ol>
      <p>
        For more detailed information, please visit our
        <a href="https://github.com/IfcLCA/IfcLCA/blob/main/CONTRIBUTING.md"
          >GitHub repository contributing guide</a
        >.
      </p>
    </main>

    <%- include('partials/_footer.ejs') %>
  </body>
</html>
