<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %>
  </head>
  <body>
    <main role="main">
      <div class="container mt-5">
        <!-- Forgot Password Card -->
        <div class="card shadow mx-auto" style="max-width: 850px">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot Password</h2>
            <form action="/auth/forgot-password" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                  class="form-control"
                />
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/_footer.ejs') %>
  </body>
</html>
