<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="IfcLCA - Your free and Open Source solution for LCA in the built environment."
    />
    <title>
      IfcLCA - Free and Open Source Life Cycle Assessment for the built
      environment based on Ifc
    </title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <%- include('partials/_head.ejs') %>
  </head>
  <body class="index-bg">
    <%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <!-- Welcome Section -->
      <div class="text-center header-bg">
        <h1>Welcome to IfcLCA</h1>
        <p class="tagline">
          <h4>Your transparent and open partner in sustainable construction analytics
            analytics</h4>
        </p>
      </div>

      <!-- Beta Warning Section -->
      <section class="beta-warning text-center mt-4">
        <p style="color: #e64a19; font-weight: bold">
          Please note that IfcLCA is currently released as Beta-Version. Features and
          functionality are still under development and things may change or
          break. <br />
          If you encounter any issues or have suggestions, please open a
          <a
            href="https://github.com/IfcLCA/IfcLCA/issues"
            target="_blank"
            style="color: #ff5722; text-decoration: underline"
            data-toggle="tooltip"
            title="GitHub is a platform for version control and collaboration. This link opens the issue tracker for our project."
            >GitHub issue</a
          >. Thank you for your understanding and contributions. <br />
          We highly value all feedback, so please don't hesitate to reach out.
        </p>
      </section>

      <!-- Action Call Section -->
      <div class="text-center action-call mt-5">
        <a
          href="/newProject"
          class="btn btn-primary btn-lg"
          data-toggle="tooltip"
          title="Set up a New Project by entering project details"
        >
          <i class="fas fa-upload"></i> Start Your Sustainable Project
        </a>
      </div>

      <!-- Features Section -->
      <section class="features mt-4">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-users"></i> Easy File Upload
                  </h5>
                  <p class="card-text">
                    Upload your Ifc file and start your LCA analysis. IfcLCA
                    will automatically extract the materials and calculate
                    the environmental impact.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-tachometer-alt"></i> Free and Open Source
                  </h5>
                  <p class="card-text">
                    IfcLCA is and will always be Free and Open Source. Join
                    us in making a difference in the construction industry.
                   </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-chart-line"></i> Automatic Impact
                    Calculation
                  </h5>
                  <p class="card-text">
                    Automatically calculate the environmental impact of
                    materials in your uploaded Ifc file. Edit and adjust
                    the calculations to fit your project's needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- New Features Announcement Section -->
    <section class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2 class="card-title text-center">🚀 Enhanced Material Extraction: 🚀</h2>
            <ol class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Optimized material extraction:</strong> Improved performance, now requiring
                BaseQuantities instead of doing volume calculations.
              </li>
              <ol class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Enhanced Multilayer handling:</strong> Full support for IfcMaterialConstituent and IfcMaterialLayerSetUsage allowing detailed material extraction.
                </li>
              </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Open-Source Invitation Section -->
    <section class="open-source-invitation text-center">
      <div class="container">
        <h3>Join Our Open-Source Community</h3>
        <p>
          Contribute to a greener future by collaborating on IfcLCA. Together, we
          can innovate for more sustainability in construction.
        </p>
        <a href="/opensource" class="btn btn-success btn-lg" data-toggle="tooltip" title="Contribute to the IfcLCA project by collaborating on GitHub. Help us innovate for sustainability in construction.">
          <i class="fas fa-hands-helping"></i> Get Involved
        </a>
      </div>
    </section>


    <%- include('partials/_footer.ejs') %>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
