<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="IfcLCA - Your free and open-source tool for uploading and analyzing IFC files for sustainable construction."
    />
    <title>IfcLCA - Free and Open-Source IFC File Analysis</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
      body.index-bg {
        background-image: url("/images/bg_index.png");
        background-size: cover;
        background-position: center - center;
        background-attachment: fixed;
      }
      .features .card {
        transition: transform 0.3s ease-in-out;
        background-color: #fff;
        color: #333;
      }
      .features .card:hover {
        transform: translateY(-10px);
      }
      .new-features {
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 10px;
        color: #333;
        max-width: 1250px;
        margin: 0 auto;
      }
    </style>

    <%- include('partials/_head.ejs') %>
  </head>
  <body class="index-bg">
    <%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <!-- Welcome Section -->
      <div class="text-center header-bg">
        <h1>Welcome to IfcLCA</h1>
        <p class="tagline">
          Your trusted partner in sustainable construction analytics
        </p>
      </div>

      <!-- Beta Warning Section -->
      <section class="beta-warning text-center mt-4">
        <h4>Beta Version</h4>
        <p style="color: #e64a19; font-weight: bold">
          Please note that IfcLCA is currently in beta. Features and
          functionality are still under development, and things may change or
          break. <br />
          If you encounter any issues or have suggestions, please open a
          <a
            href="https://github.com/IfcLCA/IfcLCA/issues"
            target="_blank"
            style="color: #ff5722; text-decoration: underline"
            >GitHub issue</a
          >. Thank you for your understanding and contributions. <br />
          We highly value your feedback to help us improve.
        </p>
      </section>

      <!-- Action Call Section -->
      <div class="text-center action-call mt-5">
        <a href="/newProject" class="btn btn-primary btn-lg"
          ><i class="fas fa-upload"></i> Start Your Sustainable Project</a
        >
      </div>

      <!-- Features Section -->
      <section class="features mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-tachometer-alt"></i> Easy File Upload
                  </h5>
                  <p class="card-text">
                    Easily upload any IFC file without any special requirements.
                    Start analyzing your building data quickly and efficiently.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-chart-line"></i> Automatic Impact
                    Calculation
                  </h5>
                  <p class="card-text">
                    Automatically calculate the environmental impact of
                    materials in your uploaded IFC file. Easily edit and adjust
                    the calculations to fit your project's needs.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <i class="fas fa-users"></i> Open-Source & Community
                  </h5>
                  <p class="card-text">
                    Benefit from a completely open-source platform and join a
                    community of like-minded professionals. Customize and extend
                    functionalities to suit your specific project needs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- New Features Announcement Section -->
      <section class="new-features text-center mt-5">
        <div class="container">
          <h3>🚀 Exciting New Features Coming Soon 🚀</h3>
          <p>
            Stay tuned for more features and enhancements as we continue to
            develop and improve IfcLCA. Your feedback and contributions are
            invaluable!
          </p>
        </div>
      </section>

      <!-- Open-Source Invitation Section -->
      <section class="open-source-invitation text-center mt-5">
        <div class="container">
          <h3>Join Our Open-Source Community</h3>
          <p>
            Contribute to a greener future by collaborating on IfcLCA. Together,
            we can innovate for sustainability in construction.
          </p>
          <a href="/opensource" class="btn btn-success btn-lg"
            ><i class="fas fa-hands-helping"></i> Get Involved</a
          >
        </div>
      </section>
    </main>

    <%- include('partials/_footer.ejs') %>
    <script src="/js/main.js"></script>
  </body>
</html>
