<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>

    <main role="main" class="container mt-4">
      <div class="open-source-intro text-center">
        <h2>Join Our Open Source Community</h2>
        <p>Contributions are welcome! If you're interested in making IfcLCA even better, we invite you to contribute to our open-source project.</p>
      </div>
      
      <section class="how-to-contribute">
        <h3>How to Contribute</h3>
        <p>Whether you're fixing bugs, adding new features, improving documentation, or spreading the word, we value your help.</p>
        <ol>
          <p>- Check out our <a href="https://github.com/IfcLCA" target="_blank">GitHub repository</a>.</p>
          <p>- Take a look at the open issues or start a new discussion.</p>
          <p>- Report any Bugs or unexpected behavior as GitHub Issues.</p>
          <p>- Fork and submit pull requests with a clear description of your improvements.</p>
        </ol>
      </section>

      <section class="get-started">
        <h3>Get Started</h3>
        <p>Not sure where to start? Take a look at the <a href="/contributing">contributing guidelines</a> for step-by-step instructions on how to make your first contribution.</p>
      </section>

      <section class="community">
        <h3>Community</h3>
        <p>Join our community of developers and contributors. Connect, share, and collaborate with pke-minded individuals.</p>
        <ul>
          tbd
        </ul>
      </section>
    </main>

    <%- include('partials/_footer.ejs') %>
    <script src="/js/main.js"></script>
  </body>
</html>
