<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy - IfcLCA</title>
    <link rel="stylesheet" href="/path/to/your/styles.css" />
  </head>
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>
    <main class="container mt-5">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title">Privacy Policy</h1>
          <p>Last updated: 23. June 2024</p>

          <h4>1. Scope and Responsible Entity</h4>
          <p>
            This Privacy Policy explains how IfcLCA ("we" or "IfcLCA") processes
            personal data collected through our website
            <a href="https://ifclca.com">https://ifclca.com</a> ("Website").
            "Personal data" refers to information related to an identifiable
            person, such as name, phone number, address, or email address.
          </p>
          <p>
            Our Website may contain links to other websites or online services
            with their own privacy policies. We are not responsible for the
            privacy practices of such third-party websites or services.
          </p>
          <p>Responsible for data processing:</p>
          <address>
            LTplus AG<br />
            Max-Höggerstr. 6<br />
            Zurich, Switzerland<br />
            Email: <a href="mailto:admifclca@gmail.com">admifclca@gmail.com</a>
          </address>

          <h4>2. Data Processing Information</h4>
          <p>
            Your data is processed in accordance with Swiss law (incl. Federal
            Act of Data Protection, FADP) and, where applicable, the EU General
            Data Protection Regulation (GDPR).
          </p>

          <h5>2.1 Legal Basis for Data Processing</h5>
          <p>The main legal bases for processing your personal data are:</p>
          <ul>
            <li>Your consent (Art. 13(1) FADP and Art. 6(1)(a) GDPR),</li>
            <li>
              Contract performance or pre-contractual measures (Art. 13(2)(a)
              FADP and Art. 6(1)(b) GDPR),
            </li>
            <li>
              Compliance with a legal obligation (Art. 13(1) FADP and Art.
              6(1)(c) GDPR),
            </li>
            <li>
              Our legitimate interests (Art. 13(1) FADP and Art. 6(1)(f) GDPR).
            </li>
          </ul>

          <h5>2.2 Scope of Data Processing</h5>
          <h5>2.2.1 Provision of Our Website</h5>
          <p>
            When you access our Website, we collect general data such as IP
            address, date and time of the request and more. Collecting this data
            is technically necessary to display our Website and ensure its
            stability and security.
          </p>

          <h5>2.2.2 Contact via Email and Phone</h5>
          <p>
            If you contact us by email or phone, we store your provided data to
            process your inquiry.
          </p>

          <h5>2.2.3 Registration and Account Creation</h5>
          <p>
            When registering for an account, we collect your name and email
            address to enable you to purchase licenses and create projects.
            Registered users can invite others to collaborate on projects by
            entering their email addresses.
          </p>

          <h5>2.2.4 Cookies</h5>
          <p>
            We use cookies to facilitate the use of our Website. Some features
            of our Website are not available without cookies. The legal basis
            for using technically necessary cookies is our legitimate interest
            in ensuring the functionality and analysis of user behavior. We
            obtain your consent for non-essential cookies.
          </p>

          <h4>3. Data Transfer</h4>
          <p>
            Your data will only be shared with third parties as explicitly
            mentioned in this Privacy Policy.
          </p>

          <h4>4. Data Retention</h4>
          <p>
            We retain your data only as long as necessary for the relevant
            processing purpose or as required by law. Data from contractual
            relationships are retained for the duration of the contract and
            statutory retention periods.
          </p>

          <h4>5. Your Rights</h4>
          <p>
            You have the right to access, rectify, delete, restrict processing,
            object, withdraw consent, and lodge complaints regarding your data:
            </p>
            <ul>
                <li>
            You can request access to your personal data and request corrections
            of inaccurate data at any time, request the deletion or restriction 
            of your personal data.
        </li>
          
            You have the right to object to the processing of your personal
            data.
        </li>

          <li>
            You can withdraw your consent to data processing at any time without
            providing reasons. The withdrawal will not affect the legality of
            the processing based on your consent before its withdrawal.
        </li>

          <li>
            Under the GDPR, you have the right to lodge a complaint with a
            supervisory authority regarding the processing of your personal
            data.
        </li>
        </ul>

          <h4>6. Data Security</h4>
          <p>
            We implement encryption and other technical and organizational
            measures to protect your data.
          </p>

          <h4>7. Changes to This Privacy Policy</h4>
          <p>
            We reserve the right to change this Privacy Policy at any time.
            Changes will be published on our Website. The version published on
            our Website is the applicable version.
          </p>
        </div>
      </div>
    </main>
    <%- include('partials/_footer.ejs') %>
  </body>
</html>
