<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>
    <main role="main">
      <div class="container mt-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Register for IfcLCA</h2>
            <% if (typeof query !== 'undefined' && query.message) { %>
            <div class="alert alert-info text-center"><%= query.message %></div>
            <% } %>
            <form action="/auth/register" method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">Email Address</label>
                <input
                  type="email"
                  name="username"
                  placeholder="Email"
                  required
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                  class="form-control"
                />
              </div>
              <div class="alert alert-secondary text-center">
                You will receive an email with a confirmation link. Please click
                it to verify your email address.<br />
                We will keep your email safe and use it for communication on
                updates, but you can opt out at any time by replying.
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
              <div class="text-center mt-3">
                <span
                  >Already have an account?
                  <a href="/auth/login">Login</a></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/_footer.ejs') %>
  </body>
</html>
