<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %>
  </head>
  <body>
    <main role="main">
      <div class="container mt-5">
        <!-- Reset Password Card -->
        <div class="card shadow mx-auto" style="max-width: 850px">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Reset Password</h2>
            <form action="/auth/reset/<%= token %>" method="POST">
              <div class="mb-3">
                <label for="password" class="form-label"
                  >Enter new password:</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="New Password"
                  required
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label for="confirm" class="form-label"
                  >Confirm new password:</label
                >
                <input
                  type="password"
                  id="confirm"
                  name="confirm"
                  placeholder="Confirm New Password"
                  required
                  class="form-control"
                />
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/_footer.ejs') %>
  </body>
</html>
