body {
  font-family: 'Nunito', sans-serif;
  background-color: #f8f9fa;
}

.navbar-dark .navbar-brand {
  color: #ff5722 !important;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
}


.card-img-top {
  padding-top: 15px; 
  width: 250px; /* Adjusted fixed width */
  height: auto; /* Ensure aspect ratio is maintained */
  max-height: 250px; /* Limit the height to prevent cards from getting too big */
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  font-size: 0.8rem; /* Adjust the value as needed */
}

.btn-primary {
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn-primary:hover {
  background-color: #e64a19;
  border-color: #e64a19;
}

.form-control {
  border-radius: 0.25rem;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #f8f9fa;
  padding: 1px 0; /* Adjusted to make the footer less high */
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
}

footer span {
  color: #777;
}

/* Added styles for success message */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

/* Additional styles to address user feedback */
.navbar .btn-primary {
  position: absolute;
  right: 1rem;
  top: 0.5rem; /* Ensure it aligns well with the navbar */
}

/* Style adjustments for specific buttons on the navbar */
.navbar .btn-primary, .navbar .btn-primary:hover {
  background-color: #ff5722; /* Orange color as per user request */
  border-color: #ff5722;
}

.navbar .btn-primary:hover {
  background-color: #e64a19;
  border-color: #e64a19;
}

#elements-table {
  border-radius: 4px;
}

.bold-value {
  font-weight: bold;
}